
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body{
margin: 0;
width: 100%;
overflow-x: hidden;

}

/* header */



.sidebar{
    cursor: pointer;
    width: 100vw;
    height: max-content;
    top: 0;
    position: fixed;
    z-index: 1;
    display: none;
    backdrop-filter: blur(900px);
    
}
.header a{
    text-decoration: none;
}
.fl{
    
    position: absolute;
    top: 0;
    display: flex;
    padding: 20px;
}

.navx{
    position: absolute;
    width: 25px;
    margin-bottom: 15px;
    right: -20%;
    bottom: 30px;
   
}
.nav-l{
    display: none;
    position: absolute;
    right: 13%;
    width: 25px;
    margin-bottom: 15px;
    
}

.navbar{
    
    position: relative;
    margin-top: 6rem;
    padding: 25px;
    display: block;
}


#head{
    padding: 20px 0px;
}


.logo{
  
    margin-bottom: 20px;
    width: 14rem  ;
}
.form-select{
    font-weight: 500;
    
}

.navslide p{
    font-size: 12px;
    color: #686868;
    font-weight: 500;
    width:fit-content;
}
.navslide h4{
    width: fit-content;
    font-size: 15px;
    font-weight: 600;
    color: rgb(2, 2, 51);

}


.navslide h4:hover{
    
Color:#00abab;
}

.navslide{
   
    display: flex;
    gap: 18px;
    padding: 8px 0px;
}

.slideimg{
    
    margin-bottom: 30px;
    width: 2.6rem;
}



#hh{
    border: 1px dashed grey;
    margin-top: -15px;
}
#hhh{
    border: 1px dashed grey;
    margin-top: 30px;
}


button{
    width: 88vw;
    padding: 15px;
    background-color: rgb(34,38,60);
    color: white;
    font-size: 13px;
    border-radius: 10px;
    border: none;
}
.hd{
    margin-bottom: -12px;
}

#list{
    list-style: none;
    line-height: 45px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(2, 2, 51);
    padding: 0px;
}


#list li:hover{
    color: #00abab;
}


/* head large screen */

.sub-h{
    width: 100%;
    cursor: pointer;
}

.navl{
    width: 90%;
    margin: auto;
    padding:  20px;
    gap: 50px;
    display: flex;
    align-items: center;

}
.log{
    margin-bottom: 20px;
    width: 220px;
}

.navl ul{
    padding:  10px;
    display: flex;
    gap: 40px;
    list-style: none;
    justify-content: space-between;
 
}
.navl ul li{
    line-height: 45px;
    font-family: "Archivo" sans-serif;
    font-size: 16px;
    font-weight:bold;
    
    Color:#262c55
}


#navs{
    width: 140px;
    background-color: rgb(222, 220, 220);
    color: rgb(2, 2, 51);
    margin-bottom: 20px;
}

#navs:hover{
    background-color: #262c55;
    color: white;
}


.end{
    position: relative;
    gap: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nave{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}


/* content of li */

.enter:hover .div-l{display: block;}
.div-l{
    background-color: white;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 1;
    border-radius: 20px;
    width: 45vw;
    margin: auto;
    box-shadow: 0px 0px 5px rgb(78, 74, 74);
}
.enter:hover .div-K{display: block;}
.div-K{
    background-color: white;
    overflow: hidden;
    display: none;
    position: absolute;
    right: 5%;
    border-radius: 20px;
    width: 75vw;
    box-shadow: 0px 0px 5px rgb(78, 74, 74);
}

.div-K h3{
    font-size: 16px;
    font-weight:500;
    
    Color:#262c55
}
.enter:hover .div-j{display: block;}
.div-j{
    background-color: white;
    overflow: hidden;
    display: none;
    position: absolute;
    border-radius: 20px;
    width: 30vw;
    box-shadow: 0px 0px 5px rgb(78, 74, 74);
}
.div-p{
    background-color: white;
    display: none;
    position: absolute;
    border-radius: 10px;
    width: 16vw;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(78, 74, 74);
}
.div-j h3{
    font-size: 16px;
    font-weight:500;
    
    Color:#262c55
}

.super{
    display: flex;
    gap: 10px;
}
 
.div-l h3{
    font-size: 16px;
    font-weight:500;
    
    Color:#262c55
}

.first{
    width: 25vw;
    padding: 20px;
    border-radius: 20px;
    background-color: #F8FAFD;
}

.first-f{
    padding:20px;
    border-radius: 15px;
}

.first-f:hover{
    background-color: #EEEEEE;
    padding:20px;
    border-radius: 15px;
}
.second{
    background-color: white;
    padding: 20px;
    width: 60%;
    line-height: 18px;
    margin-bottom: -30px;

}
.secon{
    background-color: white;
    gap: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    width: 80%;
    line-height: 18px;
    margin-bottom: -30px;
}
.seco{
    background-color: white;
    padding: 20px;
    width: 100%;
    line-height: 18px;
    height: fit-content;
    margin-bottom: -20px;
}
.enter:hover .div-p{display: block;}

.div-p ul{
    display: block;
}
.div-p ul li{
    padding: 0px 10px;
}

/* end of header */

/* create */

.create{
    margin-top: 4rem;
    width: 100vw;

}

.creat{
  
    width: 70%;
    margin: auto;
}

.create-txt h1{
    font-size: 80px;
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.create-txt span{
color: #35A162;
}
.create-txt p{
    margin-top: 2rem;
    font-size: 22px;
    text-align: center;
}


 /* card */

 .cards{
    width: 100vw;

    margin-top: 10rem;
 }
 .carding{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: -5px;
    row-gap: 35px;

 }

 .card{
    box-shadow: 0 0 6px 0.5px #888;
    transition: all .5s ease-in-out;
    cursor: pointer;
    width: 20rem;
 }

 .card:hover{
    transform: translateY(-10px);
 }

 .card-subtitle{
    padding:  15px 0px;
    width:6rem;
 }

 .card-link{
    color: #C88009;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
 }

/* ready */

.ready{
 width: 100vw;
 margin-top: 18rem;

}

.rstart{     
    box-shadow: 0px 0px 50px  rgb(133, 133, 133);      
    border-radius: 12px;
    color: white;
    width: 80%;
    margin: auto;
    background-color: black;
}
.r-text{
    padding: 30px;
    width: 80%;
    margin: auto;
}
.r-text h1{
    font-size:3.6rem;
    padding-top: 20px;
    font-weight: 700;
    font-family:cursive;
    line-height: 100px;
}
.r-text p{

    padding-top: 25px;
    font-size: 20px;
}

.r-l{
    padding-top: 55px;
    padding-bottom: 30px;
}
.r-text button{
    background-color: white;
    color: #000000;
    padding: 20px;
    width: 9rem;
    margin-right: 3rem;
}

.r-text a{
    text-decoration: none;
    color: white;
}

/* footer */

.footer{
    margin-top: 13rem;
}
.foot{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    line-height: 43px;
}

.foot p{
    font-weight: 600;
    margin-left: 2rem;
    font-size: 17px;
}

.foot ul li{
    list-style: none;
    font-size: 13px;
    
}

.foot ul li ul li:hover{
    color: #6672C7;
    cursor: pointer;
    
}

/* country */

.country{
    margin-top: -14.5rem;
    position: relative;
}

.country-side a{
    color: #1d1d1d;
    text-decoration: none;
    padding: 20px;
    font-size: 14px;
}

.country-side a:hover{
    color:#00abab;
}

.nations .i{
    text-align: center;
    align-items: center;
    width: 100px;
    margin: auto;
    display: flex;
    font-size: 12px;
    gap: 5px;
    padding: 15px;


}

.nations .i img{
    width: 60px;

}

 .ops{

   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-image: url(/images/ng.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 100%;
    
}
.na{
    cursor:pointer;
    margin-top: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.country:hover .hides{
    display: block;
}
.na p{
   text-align: center;
   margin-top: 20px;
    padding: 20px; 
    font-size: 18px;
}

.hides{
    display: none;
}
.nations{
    z-index: 999;
    position: absolute;
    top: -60%;
    left: 0;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    width: 50vw;
    box-shadow: 0px 0px 55px grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nation-side{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

#foot{
  margin-bottom: 2rem;
}

#foo{
    margin-top: -10px;
}

/* footer-last */

.footer-last{
    width: 89%;
    margin: auto;
}
.footer-last a{
    text-decoration: none;
    padding: 0px 25px;
    color: #000000;
}

.footer-last a:hover{
   color: #00ABAB;
}
.footer-la{
    width: 88%;
    margin: auto;
}
.footer-la p{
   margin-top: 2rem;
}


@media(max-width: 900px){
    .hideonmobile{
        display: none;
    }

    .nav-l{
        display: block;
    }
    .navx{
         display:block
    }

/* create */

.create{
    margin-top: 4rem;
    width: 100vw;

}

.creat{
  
    width: 90%;
    margin: auto;
}

.create-txt h1{
    font-size: 2.7rem;
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.create-txt span{
color: #35A162;
}
.create-txt p{
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
}


 /* card */

 .cards{
    width: 100vw;

    margin-top: 10rem;
 }
 .carding{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    row-gap: 25px;

 }

 .card{
    box-shadow: 0 0 6px 0.5px #888;
    transition: all .5s ease-in-out;
    cursor: pointer;
    width: 15rem;
 }

 .card:hover{
    transform: translateY(-10px);
 }

 .card-subtitle{
    padding:  15px 0px;
    width:6rem;
 }

 .card-link{
    color: #C88009;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
 }


    
/* ready */

.ready{
    width: 100vw;
    margin-top: 10rem;
   
   }
   
   .rstart{     
       box-shadow: 0px 0px 50px  rgb(133, 133, 133);      
       border-radius: 12px;
       color: white;
       width: 90%;
       margin: auto;
       background-color: black;
   }
   .r-text{
       padding: 30px;
       width: 90%;
       margin: auto;
   }
   .r-text h1{
       font-size:2rem;
       line-height: 2rem;
       padding-top: 20px;
       font-weight: 700;
       font-family:cursive;
   }
   .r-text p{
   
       padding-top: 25px;
       font-size: 16px;
   }
   
   .r-l{
       padding-top: 55px;
       padding-bottom: 30px;
   }
   .r-text button{
       background-color: white;
       color: #000000;
       padding: 15px;
       width: 9rem;
       margin-right: 3rem;
   }
   
   .r-text a{
       text-decoration: none;
       color: white;
       font-size: 10px;
   }
   
   /* footer */
   
   .footer{
       margin-top: 13rem;
   }
   .foot{
       width: 98%;
       margin: auto;
       display: block;
       line-height: 43px;
       justify-content: space-between;
   }
   
   .foot p{
       font-weight: 600;
       margin-left: 2rem;
       font-size: 17px;
   }
   
   .foot ul li{
       list-style: none;
       font-size: 13px;
       
   }
   
   .foot ul li ul li:hover{
       color: #6672C7;
       cursor: pointer;
       
   }
   
   /* country */
   
   .country{
       margin-top: -14.5rem;
       position: relative;
       
   }
   
   .country-side a{
       color: #1d1d1d;
       text-decoration: none;
       display: block;
       padding: 20px;
       font-size: 14px;
   }
   
   .country-side a:hover{
       color:#00abab;
   }
   
   .nations .i{
       text-align: center;
       align-items: center;
       width: 40px;
       margin: auto;
       display: block;
       font-size: 12px;
       gap: 2px;
       padding: 15px;
   
   
   }
   
   .nations .i img{
       width: 30px;
   
   }
   
    .ops{
   
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: url(../images/ng.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100%;
       
   }
   .na{
       cursor:pointer;
       margin-top:13rem;
       display: flex;
       justify-content: flex-start;
       align-items: center;
   }
   .country:hover .hides{
       display: block;
   }
   .na p{
      text-align: center;
      margin-top: 20px;
       padding: 29px; 
       font-size: 18px;
   }
   
   
   .nations{
       z-index: 999;
       position: absolute;
       top: -60%;
       left: 0;
       padding: 10px;
       background-color: white;
       border-radius: 30px;
       width: 60vw;
       box-shadow: 0px 0px 55px grey;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
   }
   
   .nation-side{
       width: 85%;
       margin: auto;
       display: block;
       justify-content: space-between;
       
   }
   
   #foot{
     margin-bottom: 2rem;
   }
   
   #foo{
       margin-top: -10px;
   }
   
   /* footer-last */
   
   .footer-last{
       width: 91%;
       margin: auto;
   }
   .footer-last a{
       display: block;
       text-decoration: none;
       padding: 20px 28px;
       color: #000000;
       font-size: 12px;
   }
   
   .footer-last a:hover{
      color: #00ABAB;
   }
   .footer-la{
       width: 91%;
       margin: auto;
   }
   .footer-la p{
      margin-top: 2rem;
      font-size: 14px;
   }
   
   
   }
   
   @media(max-width:785px){
    .carding{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 5px;
        row-gap: 25px;
    
     }

     .card{
        box-shadow: 0 0 6px 0.5px #888;
        transition: all .5s ease-in-out;
        cursor: pointer;
        width: 18rem;
     }
    }
    

   
@media(max-width:565px){
    .carding{
        display: grid;
        grid-template-columns: 1fr  ;
        row-gap: 35px;
        gap: 20px;
    
     }

     .card{
        box-shadow: 0 0 6px 0.5px #888;
        transition: all .5s ease-in-out;
        cursor: pointer;
        width: 95%;
        margin: auto;
     }

    

    .ready{
     width: 100vw;
     margin-top: 10rem;
    
    }
    
    .rstart{     
        box-shadow: 0px 0px 50px  rgb(133, 133, 133);      
        border-radius: 12px;
        color: white;
        width: 90%;
        margin: auto;
        background-color: black;
    }
    .r-text{
        padding: 30px;
        width: 90%;
        margin: auto;
    }
    .r-text h1{
        font-size:2rem;
        line-height: 2rem;
        padding-top: 20px;
        font-weight: 700;
        font-family:cursive;
    }
    .r-text p{
    
        padding-top: 25px;
        font-size: 16px;
    }
    
    .r-l{
        display: block;
        padding-top: 55px;
        padding-bottom: 30px;
    }
    .r-text button{
        background-color: white;
        color: #000000;
        padding: 20px;
        width: 9rem;
        margin-right: 3rem;
    }
    
    .r-text a{
        text-decoration: none;
        color: white;
    }
     
    
    }


@media (min-width: 910px){     
   
    /* ready */
    
    .ready{
     width: 100vw;
     margin-top: 18rem;
    
    }
    
    .rstart{     
        box-shadow: 0px 0px 50px  rgb(133, 133, 133);      
        border-radius: 12px;
        color: white;
        width: 90%;
        margin: auto;
        background-color: black;
    }
    .r-text{
        padding: 30px;
        width: 90%;
    }
    .r-text h1{
        font-size:3.rem;
        padding-top: 20px;
        font-weight: 7400;
        font-family:cursive;
        line-height: 100px;
    }
    .r-text p{
    
        padding-top: 25px;
        font-size: 20px;
    }
    
    .r-l{
        padding-top: 55px;
        padding-bottom: 30px;
    }
    .r-text button{
        background-color: white;
        color: #000000;
        padding: 20px;
        width: 9rem;
        margin-right: 3rem;
    }
    
    .r-text a{
        text-decoration: none;
        color: white;
    }
    
    /* footer */
    
    .footer{
        margin-top: 13rem;
    }
    .foot{
        width: 98%;
        margin: auto;
        display: flex;
        line-height: 43px;
        justify-content: space-between;
    }
    
    .foot p{
        font-weight: 600;
        margin-left: 2rem;
        font-size: 17px;
    }
    
    .foot ul li{
        list-style: none;
        font-size: 13px;
        
    }
    
    .foot ul li ul li:hover{
        color: #6672C7;
        cursor: pointer;
        
    }
    
    /* country */
    
    .country{
        margin-top: -14.5rem;
        position: relative;
    }
    
    .country-side a{
        color: #1d1d1d;
        text-decoration: none;
        padding: 20px;
        font-size: 14px;
    }
    
    .country-side a:hover{
        color:#00abab;
    }
    
    .nations .i{
        text-align: center;
        align-items: center;
        width: 100px;
        margin: auto;
        display: flex;
        font-size: 12px;
        gap: 5px;
        padding: 15px;
    
    
    }
    
    .nations .i img{
        width: 60px;
    
    }
    
     .ops{
    
       width: 30px;
       height: 30px;
       border-radius: 50%;
       background-image: url(/images/ng.svg);
       background-repeat: no-repeat;
       background-size: contain;
       background-position: 100%;
        
    }
    .na{
        cursor:pointer;
        margin-top: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .country:hover .hides{
        display: block;
    }
    .na p{
       text-align: center;
       margin-top: 20px;
        padding: 20px; 
        font-size: 18px;
    }
    
    .hides{
        display: none;
    }
    .nations{
        z-index: 999;
        position: absolute;
        top: -60%;
        left: 0;
        padding: 10px;
        background-color: white;
        border-radius: 30px;
        width: 50vw;
        box-shadow: 0px 0px 55px grey;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .nation-side{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        
    }
    
    #foot{
      margin-bottom: 2rem;
    }
    
    #foo{
        margin-top: -10px;
    }
    
    /* footer-last */
    
    .footer-last{
        width: 85%;
        margin: auto;
    }
    .footer-last a{
        text-decoration: none;
        padding: 0px 25px;
        color: #000000;
    }
    
    .footer-last a:hover{
       color: #00ABAB;
    }
    .footer-la{
        width: 81%;
        margin: auto;
    }
    .footer-la p{
       margin-top: 2rem;
    }
    
    }
    
