
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body{
    overflow-x: hidden;
margin: 0;
width: 100%

}

/* header */


.sidebar{
    cursor: pointer;
    width: 100vw;
    height: max-content;
    top: 0;
    position: fixed;
    z-index: 1;
    display: none;
    backdrop-filter: blur(900px);
    
}

.fl{
    
    position: absolute;
    top: 0;
    display: flex;
    padding: 20px;
}

.navx{
    position: absolute;
    width: 25px;
    margin-bottom: 15px;
    right: -20%;
    bottom: 30px;
   
}
.nav-l{
    display: none;
    position: absolute;
    right: 13%;
    width: 25px;
    margin-bottom: 15px;
    
}

.navbar{
    
    position: relative;
    margin-top: 6rem;
    padding: 25px;
    display: block;
}


#head{
    padding: 20px 0px;
}


.logo{
  
    margin-bottom: 20px;
    width: 14rem  ;
}
.form-select{
    font-weight: 500;
    
}

.navslide p{
    font-size: 12px;
    color: #686868;
    font-weight: 500;
    width:fit-content;
}
.navslide h4{
    width: fit-content;
    font-size: 15px;
    font-weight: 600;
    color: rgb(2, 2, 51);

}


.navslide h4:hover{
    
Color:#00abab;
}

.navslide{
   
    display: flex;
    gap: 18px;
    padding: 8px 0px;
}

.slideimg{
    
    margin-bottom: 30px;
    width: 2.6rem;
}



#hh{
    border: 1px dashed grey;
    margin-top: -15px;
}
#hhh{
    border: 1px dashed grey;
    margin-top: 30px;
}


button{
    width: 88vw;
    padding: 15px;
    background-color: rgb(34,38,60);
    color: white;
    font-size: 13px;
    border-radius: 10px;
    border: none;
}
.hd{
    margin-bottom: -12px;
}

#list{
    list-style: none;
    line-height: 45px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(2, 2, 51);
    padding: 0px;
}


#list li:hover{
    color: #00abab;
}


/* head large screen */

.sub-h{
    width: 100%;
    cursor: pointer;
}

.navl{
    width: 90%;
    margin: auto;
    padding:  20px;
    gap: 50px;
    display: flex;
    align-items: center;

}
.log{
    margin-bottom: 20px;
    width: 220px;
}

.navl ul{
    padding:  10px;
    display: flex;
    gap: 40px;
    list-style: none;
    justify-content: space-between;
 
}
.navl ul li{
    line-height: 45px;
    font-family: "Archivo" sans-serif;
    font-size: 16px;
    font-weight:bold;
    
    Color:#262c55
}


#navs{
    width: 140px;
    background-color: rgb(222, 220, 220);
    color: rgb(2, 2, 51);
    margin-bottom: 20px;
}

#navs:hover{
    background-color: #262c55;
    color: white;
}


.end{
    position: relative;
    gap: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nave{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}


/* content of li */

.enter:hover .div-l{display: block;}
.div-l{
    background-color: white;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 1;
    border-radius: 20px;
    width: 45vw;
    margin: auto;
    box-shadow: 0px 0px 5px rgb(78, 74, 74);
}
.enter:hover .div-K{display: block;}
.div-K{
    background-color: white;
    overflow: hidden;
    display: none;
    position: absolute;
    right: 5%;
    border-radius: 20px;
    width: 75vw;
    box-shadow: 0px 0px 5px rgb(78, 74, 74);
}

.div-K h3{
    font-size: 16px;
    font-weight:500;
    
    Color:#262c55
}
.enter:hover .div-j{display: block;}
.div-j{
    background-color: white;
    overflow: hidden;
    display: none;
    position: absolute;
    border-radius: 20px;
    width: 30vw;
    box-shadow: 0px 0px 5px rgb(78, 74, 74);
}
.div-p{
    background-color: white;
    display: none;
    position: absolute;
    border-radius: 10px;
    width: 16vw;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(78, 74, 74);
}
.div-j h3{
    font-size: 16px;
    font-weight:500;
    
    Color:#262c55
}

.super{
    display: flex;
    gap: 10px;
}
 
.div-l h3{
    font-size: 16px;
    font-weight:500;
    
    Color:#262c55
}

.first{
    width: 25vw;
    padding: 20px;
    border-radius: 20px;
    background-color: #F8FAFD;
}

.first-f{
    padding:20px;
    border-radius: 15px;
}

.first-f:hover{
    background-color: #EEEEEE;
    padding:20px;
    border-radius: 15px;
}
.second{
    background-color: white;
    padding: 20px;
    width: 60%;
    line-height: 18px;
    margin-bottom: -30px;

}
.secon{
    background-color: white;
    gap: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    width: 80%;
    line-height: 18px;
    margin-bottom: -30px;
}
.seco{
    background-color: white;
    padding: 20px;
    width: 100%;
    line-height: 18px;
    height: fit-content;
    margin-bottom: -20px;
}
.enter:hover .div-p{display: block;}

.div-p ul{
    display: block;
}
.div-p ul li{
    padding: 0px 10px;
}

/* end of header */


/* start of hero */

.send-money{
    width: 100vw;

}

.money{
   
    width: 85%;
    margin: auto;
}

.money-flex{
    position: relative;
 display: flex;
}
.money span{
    
Color:#6672C7
}
.money h1{
width: 70vw;
font-size: 80px;
font-family: cursive;
font-weight: 700;
}

.money p{
    font-size: 22px;
    width: 40vw;
}

.money-text li{
   list-style: none;
   margin-left: -30px;
   line-height: 40px;
   font-size: 18px;
}

.money-text ul i{
    color: #6672C7;
    padding-right: 15px;
}

.money-btn{
    display: flex;
    gap: 20px
    ;
  
}

.money-img{
    position: absolute;
    width:55vw;
    top: 10%;
    left : 46%

}

.btn-cash{
    font-weight: 700;
    color:black;
    background-color: #EEEEEE;
}

.money-btn button{
    width: 9rem;
    padding: 20px;

}

/* container */
.container{

    margin-top: 20rem;
    width: 100vw;
    position: relative;
}

.cont{
    width: 90%;
    margin: auto;
}


/* trusted */


.trusted{
    margin-top: 9rem;
    width: 100vw;
}

.trust{
    width: 96%;
    margin: auto;
}

.trust p{
    font-size: 28px;
    font-weight: 500;
}
.trust-img{
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr ;
}

.trust-img img{
    width: 120px;
    margin: 20px;
}

/* endless */


/* API */

.api{
    margin-top: 10rem;
    width: 100vw;
    height: 180vh ;

}

.api-text{
    width: 80%;
    margin: auto;
}

.api-text h1{
    font-size:5.5rem;
    width: 70vw;
    padding-top: 100px;
    margin-right: 90px;
    font-weight: 700;
    font-family:cursive;
    line-height: 90px;
   
}

.api-text span{
    color: #6672C7;
}

.api-text p{
    margin-top: 3rem;
    padding-right: 20rem;
    font-size: 22px;
    line-height: 32px;
}
.api-text ul{
    margin-top: 3rem;
   line-height: 45px;
   font-size: 18px;
   color: #1d1d1d;
}

.api-text i{
    color: #262c55;
    padding: 0px 15px;
    margin-left: -50px;
    
}
.api-text li{
    list-style: none;
}

.api-text button{
    margin-top: 4rem;
    width: 12rem;
    padding:28px;
    font-size: 15px;
}

/* safety */

.safety{
    width: 100vw;
    background-color: #F8FAFD;
}

.security{
    width: 85%;
    margin: auto;
}

.security h1{
    
    font-size: 80px;
    font-weight: 700;
    font-family:sans-serif;
}
.security h1 span{
    color: #6672C7;
}

.security p{
    padding:  20px 0px;
    font-size: 21px;
    color: #1d1d1d;
}

.safe{
    padding-top:  30px;
    display: flex;
    justify-content: space-between;

}

.secc{
    width: 30vw;
}

.safe h3{
    font-size: 18px;
    font-weight: 600;
}

.safe p {
    font-size: 17px;
}
/* ready */

.ready{
 width: 100vw;
 margin-top: 18rem;

}

.rstart{     
    box-shadow: 0px 0px 50px  rgb(133, 133, 133);      
    border-radius: 12px;
    color: white;
    width: 80%;
    margin: auto;
    background-color: black;
}
.r-text{
    padding: 30px;
    width: 80%;
    margin: auto;
}
.r-text h1{
    font-size:3.6rem;
    padding-top: 20px;
    font-weight: 700;
    font-family:cursive;
    line-height: 100px;
}
.r-text p{

    padding-top: 25px;
    font-size: 20px;
}

.r-l{
    padding-top: 55px;
    padding-bottom: 30px;
}
.r-text button{
    background-color: white;
    color: #000000;
    padding: 20px;
    width: 9rem;
    margin-right: 3rem;
}

.r-text a{
    text-decoration: none;
    color: white;
}

/* footer */

.footer{
    margin-top: 13rem;
}
.foot{
    width: 90%;
    margin: auto;
    display: flex;
    line-height: 43px;
}

.foot p{
    font-weight: 600;
    margin-left: 2rem;
    font-size: 17px;
}

.foot ul li{
    list-style: none;
    font-size: 13px;
    
}

.foot ul li ul li:hover{
    color: #6672C7;
    cursor: pointer;
    
}

/* country */

.country{
    margin-top: -14.5rem;
    position: relative;
}

.country-side a{
    color: #1d1d1d;
    text-decoration: none;
    padding: 20px;
    font-size: 14px;
}

.country-side a:hover{
    color:#00abab;
}

.nations .i{
    text-align: center;
    align-items: center;
    width: 100px;
    margin: auto;
    display: flex;
    font-size: 12px;
    gap: 5px;
    padding: 15px;


}

.nations .i img{
    width: 60px;

}

 .ops{

   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-image: url(/images/ng.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 100%;
    
}
.na{
    cursor:pointer;
    margin-top: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.country:hover .hides{
    display: block;
}
.na p{
   text-align: center;
   margin-top: 20px;
    padding: 20px; 
    font-size: 18px;
}

.hides{
    display: none;
}
.nations{
    z-index: 999;
    position: absolute;
    top: -60%;
    left: 0;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    width: 50vw;
    box-shadow: 0px 0px 55px grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nation-side{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

#foot{
  margin-bottom: 2rem;
}

#foo{
    margin-top: -10px;
}

/* footer-last */

.footer-last{
    width: 85%;
    margin: auto;
}
.footer-last a{
    text-decoration: none;
    padding: 0px 25px;
    color: #000000;
}

.footer-last a:hover{
   color: #00ABAB;
}
.footer-la{
    width: 81%;
    margin: auto;
}
.footer-la p{
   margin-top: 2rem;
}


@media(max-width: 900px){
    .hideonmobile{
        display: none;
    }

    .nav-l{
        display: block;
    }
    .navx{
         display:block
    }


    .hero-section h1{
        font-size: 3rem;
        width: 80vw;
        padding: 30px;
        font-weight: 700;
        font-family:cursive;
        color: #fb9129;
    }

    .hero-section p{
        width: 80vw;
        padding: 0px 30px;
        font-size: 15px;
        line-height: 30px;
        font-weight: 300;
        
    }

.acc{
    width: 16rem;
    padding: 20px;
    font-weight: 550;
    font-size: 13px;
}
.sal{
    width: 12rem;
    background-color:#EEEEEE;
    color:black;
    padding: 15px;
    font-weight: 550;
    font-size: 13px;
}

/* container */

.container{
    width: 100vw;
}

.cont{
    width: 90%;
    margin: auto;
}
.cont-img{
    margin-top: 40px;
    display: block;
}


.img-one{
    width: 76vw;
    
}

.img-one img{
    scale:1;
    
}

.mid{
    display: block;
}

.mid p{
    margin-left: 40px;
    position: absolute;
    top: 29%;
    left: 0%;
    width: 74vw;
    font-size: 15px;
}

.img-two{
    width: 75vw;
    transform: translate(0px, -50%);
}
.mid{
    background-color: transparent
}


/* trusted */


.trusted{
    width: 100vw;
    margin-top: -13rem;
}

.trust p{
    padding: 0px 15px;
    font-size: 18px;
    font-weight: 600;
}
.trust{
    width: 90%;
    margin: auto;
}
.trust-img{
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 2fr 2fr 2fr 2fr ;
}
.trust-img img{
    width: 60px;
    margin: 20px;
}

/* paymen */

.paymen{
    margin-top: 4rem;
    background-color: #F8FAFD;
    width: 100vw;
}

.pay-m{
    
    width: 90%;
    margin: auto;
}
.endless p{
    font-size:2.4rem;
    line-height: 45px;
}

.end-sec{
    display: block;
    width: 90%;
    margin-top: -12rem;

}

.end-sec h3{
    font-weight: 600;
    font-weight: 17px;
    margin-bottom: 26px;
}

.end-sec p{
    font-size: 15px;
    font-weight: 300;
}

.end-two{
    padding-top: 40px;
    width: 35vw;
    border: none;
   background-color: none;
}
.end-three{
    margin-top: 3rem;
    width: 50%;
}

.end-here{
    margin-top: 3rem;
}


/* paymen */

.paymen{
    margin-top: 5rem;
    width: 100vw;
}

.pay-m{
    
    width: 95%;
    margin: auto;
}
.pay-m h3{
    font-size: 2.3rem;
    padding: 30px;
   
    line-height: 55px;
}



.paay{
    margin-top: -6rem;
    display: block;
  
}

.paymen h3{

    font-weight: 600;
    font-weight: 17px;
    margin-bottom: 30px;
}

.paymen p{
    font-size: 15px;
    font-weight: 300;
}

.last-paay button{
    padding: 18px;
    width: 7rem;
}
}